<!DOCTYPE group PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<group>
 
 <p>The <b>VLFeat</b> <a
  href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">open
  source</a> library implements popular computer vision algorithms
  including
  <em>SIFT</em>, <em>MSER</em>, <em>k-means</em>, <em>hierarchical
  k-means</em>, <em>agglomerative information bottleneck, and quick shift</em>.
  It is written in C for efficiency and compatibility, with interfaces in
  MATLAB for ease of use, and detailed documentation throughout. It supports
  <em>Windows</em>, <em>Mac OS X</em>, and <em>Linux</em>. The latest version of
  VLFeat is <include src="version.html" />.</p>

 <div class="box" style="height:7em;">
  <img src="%pathto:root;images/down.png" alt="Download" style="float:left;"/>
  <h1>Download</h1>
  <ul>
   <li><b><a href="%pathto:root;download/vlfeat-0.9.4-bin.tar.gz">VLFeat 0.9.4</a></b>  (Windows, Mac, Linux)</li>
   <li><a href="%pathto:download;">Installation, source code, and more ...</a></li>
   <li><a href="http://github.com/vlfeat/vlfeat/tree/master">Git repository</a></li>
  </ul>
 </div>

 <div class="box" style="height:7em;">
  <img src="%pathto:root;images/help.png" alt="Help" style="float:left;"/>
  <h1>Reference</h1>
  <ul>
   <li><a href="%pathto:mdoc;">MATLAB commands</a></li>
   <li><a href="%pathto:api;">C API</a> with algorithm descriptions</li>
   <li><a href="%pathto:man;">Command line tools</a></li>
  </ul>

 </div><div class="box" style="height:12em;">
  <h1>Tutorials</h1>
  <ul>
   <li><a href="%pathto:tut.sift;">SIFT</a> &ndash; Scale Invariant Feature Transform</li>
   <li><a href="%pathto:tut.mser;">MSER</a> &ndash; Maximally Stable Extremal Regions</li>
   <li><a href="%pathto:tut.ikm;">IKM</a> &ndash; Integer optimized <em>k</em>-means</li>
   <li><a href="%pathto:tut.hikm;">HIKM</a> &ndash; Hierarchical <em>k</em>-means</li>
   <li><a href="%pathto:tut.aib;">AIB</a> &ndash; Agglomerative Information Bottleneck</li>
   <li><a href="%pathto:tut.qs;">Quick shift</a> &ndash; Quick shift mode seeking</li>
   <li><a href="%pathto:tut;">More ...</a></li>
  </ul>
 </div>

 <div class="box" style="height:12em;">
  <h1>BibTeX entry</h1>
<pre style="font-size: .8em; color: black; margin-bottom: 0em;">
@misc{vedaldi08vlfeat,
 Author = {A. Vedaldi and B. Fulkerson},
 Title = {{VLFeat}: An Open and Portable Library 
          of Computer Vision Algorithms},
 Year  = {2008},
 Howpublished = {\url{http://www.vlfeat.org/}}
</pre>
 </div>

 <div class="clear">&nsbp;</div>

 <h2 style="clear:left;">Acknowledgments</h2>

 <p>Part of this work was supported by
 the <a href="http://vision.ucla.edu">UCLA Vision Lab</a> and
 the <a href="http://www.robots.ox.ac.uk/~vgg/">Oxford VGG
 Lab</a>. The authors would like to thank the many colleagues that
 have contributed to VLFeat by testing and providing helpful
 suggestions and comments.</p>

</group>
